.followBtn,
.pageBtn,
.loadMoreBtn {
  padding: 14px 28px;
  width: 196px;
  height: 50px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  cursor: pointer;
  margin: 0 auto;
  display: block;

  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #373737;
}

.pageBtn {
  width: 50px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.pagination {
  display: flex;
}

.followingBtn,
.currentPageBtn,
.loadMoreBtn:hover {
  background: #5cd3a8;
}

.pageBtn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loadMoreBtn {
  text-transform: none;
  margin-bottom: 20px;
  margin-top: 10px;
}
